<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						Final 
					</h1>
					<p class="subtleHeading">
						The CS109 Final is Wednesday Dec 12th from 3:30pm to 6:30pm in CEMEX Auditorium.
					</p>

				</div>
				
				<hr>
			</div>
		</div>
				

		<div class="row">
			<div class="col-sm-12">
				<div class="alert alert-info"><b>Info:</b> The CS109 final is a 3 hour closed calculator/computer exam. You are, however, allowed to use notes or a textbook
in the exam.  Make sure to practice before the exam.</div>
				<h3>Essential Practice</h3>
				<ul>
					<li><a class="popup" href="{{pathToRoot}}examPractice/PracticeFinal.pdf" target="_blank">Practice Final</a> [<a href="{{pathToRoot}}examPractice/PracticeFinalSoln.pdf">Soln</a>]</li>
					<!--<li><a class="popup" href="{{pathToRoot}}examPractice/MidtermFall2017.pdf" target="_blank">Previous Exam</a> [<a href="{{pathToRoot}}examPractice/MidtermFall2017Soln.pdf">Soln</a>]</li>-->
				</ul>
				<h3>Extra Practice</h3>
				<ul>
					
					<li><a class="popup" href="{{pathToRoot}}examPractice/FinalFall2017.pdf" target="_blank">Midterm Fall 2017</a> <!--[<a href="{{pathToRoot}}examPractice/MidtermSpr2017Soln.pdf">Soln</a>]</li>-->
					<li><a class="popup" href="{{pathToRoot}}examPractice/FinalSpring2017.pdf" target="_blank">Midterm Spring 2017</a> <!--[<a href="{{pathToRoot}}examPractice/MidtermSpr2016Soln.pdf">Soln</a>]</li>-->
					<!--<li><a class="popup" href="{{pathToRoot}}examPractice/MidtermReview.pdf" target="_blank">Midterm Review Session</a></li>-->
	
				</ul>
				<p><i>We do not have typed up solutions for these final exams.</i></p>
			</div>
		</div>

		
		<!--
		<div class="row">
			<div class="col-sm-12">
				<p>
					<h2>Midterm</h2>
					<div class="row">
						<div class="col-sm-2">
							<a href="{{pathToRoot}}examPractice/Midterm.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
							<p style="margin-left:10px">Midterm</p></a>
						</div>

						<div class="col-sm-2">
							<a href="{{pathToRoot}}restricted/Midterm.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
							<p style="margin-left:0px">Midterm Soln</p></a>
						</div>

					</div>
				</p>
				<p>
					<h2>Midterm PDF</h2>
					<center>
						<img style="width:80%" src="{{pathToRoot}}img/midterm/midtermDist.png">	
						
					</center>
				</p>
				<p>
					<h2>Midterm CDF</h2>
					<center>
						<img style="width:80%" src="{{pathToRoot}}img/midterm/midtermCdf.png">	
						
					</center>
				</p>
				<p>
					<h2>Midterm Correlation Matrix</h2>
					<center>
						<img style="width:80%" src="{{pathToRoot}}img/midterm/midtermCorr.png">	
						<p style="text-align:center"><i>Midterm Correlation Matrix</i>
					</center>
				</p>
			</div>
		</div>
	-->
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
