<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						Midterm 
					</h1>
					<p class="subtleHeading">
						The CS109 Midterm is Tuesday Oct 30th from 7pm to 9pm in Dinklespiel Auditorium.
					</p>

				</div>
				
				<hr>
			</div>
		</div>
				

		<div class="row">
			<div class="col-sm-12">
				<div class="alert alert-info"><b>Info:</b> The CS109 midterm is a 2 hour closed calculator/computer exam. You are, however, allowed to use notes or a textbook
in the exam. The last page of the exam is a Standard Normal Table, in case you need it. Make sure to practice before the exam.</div>
				<h3>Essential Practice</h3>
				<ul>
					<li><a class="popup" href="{{pathToRoot}}examPractice/PracticeMidterm.pdf" target="_blank">Practice Midterm</a> [<a href="{{pathToRoot}}examPractice/PracticeMidtermSoln.pdf">Soln</a>]</li>
					<li><a class="popup" href="{{pathToRoot}}examPractice/MidtermFall2017.pdf" target="_blank">Previous Exam</a> [<a href="{{pathToRoot}}examPractice/MidtermFall2017Soln.pdf">Soln</a>]</li>
				</ul>
				<h3>Extra Practice</h3>
				<ul>
					
					<li><a class="popup" href="{{pathToRoot}}examPractice/MidtermSpr2017.pdf" target="_blank">Midterm Spring 2017</a> [<a href="{{pathToRoot}}examPractice/MidtermSpr2017Soln.pdf">Soln</a>]</li>
					<li><a class="popup" href="{{pathToRoot}}examPractice/MidtermSpr2016.pdf" target="_blank">Midterm Spring 2016</a> [<a href="{{pathToRoot}}examPractice/MidtermSpr2016Soln.pdf">Soln</a>]</li>
					<li><a class="popup" href="{{pathToRoot}}examPractice/Extra Problems 1.pdf" target="_blank">More Practice Problems #1</a> [<a href="{{pathToRoot}}examPractice/Extra Problems 1 Soln.pdf">Soln</a>]</li>
					<li><a class="popup" href="{{pathToRoot}}examPractice/Extra Problems 2.pdf" target="_blank">More Practice Problems #2</a> [<a href="{{pathToRoot}}examPractice/Extra Problems 2 Soln.pdf">Soln</a>]</li>
					<!--<li><a class="popup" href="{{pathToRoot}}examPractice/MidtermReview.pdf" target="_blank">Midterm Review Session</a></li>-->
	
				</ul>
			</div>
		</div>

		
		<!--
		<div class="row">
			<div class="col-sm-12">
				<p>
					<h2>Midterm</h2>
					<div class="row">
						<div class="col-sm-2">
							<a href="{{pathToRoot}}examPractice/Midterm.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
							<p style="margin-left:10px">Midterm</p></a>
						</div>

						<div class="col-sm-2">
							<a href="{{pathToRoot}}restricted/Midterm.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
							<p style="margin-left:0px">Midterm Soln</p></a>
						</div>

					</div>
				</p>
				<p>
					<h2>Midterm PDF</h2>
					<center>
						<img style="width:80%" src="{{pathToRoot}}img/midterm/midtermDist.png">	
						
					</center>
				</p>
				<p>
					<h2>Midterm CDF</h2>
					<center>
						<img style="width:80%" src="{{pathToRoot}}img/midterm/midtermCdf.png">	
						
					</center>
				</p>
				<p>
					<h2>Midterm Correlation Matrix</h2>
					<center>
						<img style="width:80%" src="{{pathToRoot}}img/midterm/midtermCorr.png">	
						<p style="text-align:center"><i>Midterm Correlation Matrix</i>
					</center>
				</p>
			</div>
		</div>
	-->
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
